@font-face {
  font-family: 'Figtree';
  /* Point to the file in your folder structure */
  src: url('../assets/fonts/static/Figtree-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 100 900; /* Tells CSS this one file covers all weights */
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('../assets/fonts/static/Figtree-Italic-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

:root {
  --font-main: 'Figtree', sans-serif;
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
  --paragraph-font-size: 1rem;
  --font-size-sm: 0.875rem;
  --font-size-lg: 1.5rem;
  --font-size-mobile-sm: 0.75rem;
  --font-size-mobile-lg: 1.25rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  font-size: var(--paragraph-font-size);
  background-color: var(--yellow);
}

img {
  width: 100%;
  display: block;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 1.5rem;
  padding: 1.5rem;
  /* could've used 'rem' but decided to stick to the absolute values 'px' */
  max-width: 388px;
  max-height: 522px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  color: var(--gray-950);
  border-radius: 1.25rem;
  border: 1px solid black;
  background-color: var(--white);
  box-shadow: black 10px 10px;
}

.img-container {
  width: 100%;
  border-radius: 0.625rem;
  overflow: hidden;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.content-container .type {
  padding: 0.25rem 0.75rem;
  display: inline-block;
  max-width: 100%;
  font-weight: bold;
  background-color: var(--yellow);
  border-radius: 0.25rem;
}

.content-container .type,
.content-container .publish-info,
.footer-container,
.attribution {
  font-size: var(--font-size-sm);
}

.content-container .header {
  font-size: var(--font-size-lg);
}

.content-container .header:hover {
  color: var(--yellow);
  cursor: pointer;
}

.content-container .content {
  color: var(--gray-500);
}

.content-container .content p {
  line-height: 1.5rem;
}

.footer-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-weight: bold;
}

.footer-container .avatar-container {
  max-width: 2rem;
  max-height: 2rem;
}

@media screen and (max-width: 375px) {
  .content-container .type,
  .content-container .publish-info,
  .attribution {
    font-size: var(--font-size-mobile-sm);
  }

  .content-container .header {
    font-size: var(--font-size-mobile-lg);
  }

  .footer-container {
    justify-content: flex-end;
  }
}
